<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @subject.cid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subject.email %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
